* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
}

body {
    background-color: #d9d7ce; 
    color: black; 
    line-height: 1.6;
}

nav {
    background-color: black;
    color: #efefef;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #efefef;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-links {
    display: flex;
    gap: 50px; 
}

.nav-link {
    color: #efefef;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-link:hover {
    text-decoration: underline;
}


.intro {
    padding: 80px 10%; 
    text-align: left;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.club-name {
    font-size: 3.2rem;
    font-weight: bold;
}


.about {
    margin: 20px 10%; 
    font-size: 1.2rem;
    text-align: left;
}
