#about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; 
    background-color: #4d5731;
    padding: 20px; 
    border-radius: 10px; 
  }
  
  #about-me > div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #f8f7f2;
    color: #333333;
    width: 120px; 
    height: 70px; 
    margin: 5px; 
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px; 
  }
  
  